<html>
<head>
	<title>HipChat Emoticons</title>
	<script type="text/javascript" src="zeroclipboard/ZeroClipboard.min.js"></script>
	<style>
	body {
		font-family: verdana;
		text-align: center;
	}
	h1, p
	{
		margin-bottom: 5px;
		font-weight: 500;
	}
	ul {
		padding: 1em;
	}
	li {
		display: inline-block;
		min-width: 50px;
		margin: 20px 10px;
		text-align: center;
	}
	li.pseudo-hover {
		-ms-transform: scale(1.5,1.5);
		-webkit-transform: scale(1.5,1.5);
		transform: scale(1.5,1.5);
	}
	li span.image {
		display: inline-block;
		text-align: center;
	}
	li span.shortcut {
		font-size: 0.5em;
		display: block;
		padding-top: 5px;
	}
	input {
		line-height:40px;
		font-size: 1.5em;
		width: 350px;
	}
	</style>
</head>
<body>
	<h1>HipChat Emoticons</h1>
	<input id="filter-input" placeholder="Filter..." autofocus></input>
	<ul>
		{{range .}}
		<li data-clipboard-text="({{.Shortcut}})"><span class="image"><img src="{{.ImageUrl}}" alt="({{.Shortcut}})" /></span><span class="shortcut">({{.Shortcut}})</span></li>
		{{end}}
	</ul>
	<script type="text/javascript">
	(function(){
		var filterInput = document.getElementById("filter-input");
		var emotes = document.getElementsByTagName("li");
		filterInput.onkeyup = function(evt){
			var filterText = evt.target.value;
			for (var i = 0; i < emotes.length; i++){
				if (emotes[i].innerText.indexOf(filterText) > -1){
					emotes[i].style.display = "";
				} else{
					emotes[i].style.display = "none";
				}
			}
		};
		ZeroClipboard.config({
			swfPath: document.location.origin + "/zeroclipboard/ZeroClipboard.swf",
			cacheBust: false,
			hoverClass: "pseudo-hover",
			forceHandCursor: true,
		});
		var client = new ZeroClipboard(emotes);
	})();
	</script>
</body>
</html>
